/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
html {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	min-height: 400px;
	background: radial-gradient(white, black);
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.logo {
	background: url('img/logo.png');
	height: 227px;
	background-repeat: no-repeat;
	background-size: 228px 228px;
	background-position-x: 32px;
	background-position-y: -5px;
	margin-bottom: 21px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.body-background {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	min-height: 400px;
	background: url("img/Test_Background.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.label {
	display: inline-block;
	font-size: 14px;
	user-select: none;
	cursor: default;
}

.label-form {
	margin-right: 10px;
}

.label-short {
	width: 75px;
}

.label-medium {
	width: 100px;
}

.label-roomHeader, .label-long {
	width: 125px;
}

.label-roomHeader, .label-white {
	color: white;
}

.label-roomHeader, .label-centered {
	text-align: center;
}

.label-roomHeader, .label-padded {
	padding: 5px;
}

.label-instruction {
	font-style: italic;
	box-shadow: 0px 0px 9px 2px white;
	border-radius: 3px;
	padding: 10px;
	top: 250px !important;
	background-color: black;
}

.label-header {
	font-size: 15px;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.6);
}

.label-underline {
	border-bottom: 1px solid gray;
}

.label-green {
	background: rgb(55, 168, 108);
}

.label-blue {
	background-color: rgb(54, 112, 165);
}

.label-red {
	background-color: rgb(165, 54, 54);
}

.label-goldFont {
	color: gold;
}

.textbox {
	padding: 2px !important;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.fixed {
	position: fixed;
}

.fixed-bottom {
	bottom: 0;
}

.fixed-left {
	left: 0;
}

.fixed-top {
	top: 0;
}

.fixed-right {
	right: 0;
}

.modal {
	padding: 10px;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, .9),
		rgba(0, 0, 0, .7));
	box-shadow: 0px 0px 15px 0px black;
	border-radius: 1px;
	border: 1px solid black;
	white-space: nowrap;
	padding-top: 30px;
}

.modal-header {
	text-align: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: -5px;
	border-radius: 3px;
	background: linear-gradient(white, #6f849a);
	position: absolute;
	top: -10px;
	left: 15px;
}

.modal-headerless {
	padding: 10px;
}

.modal-left {
	float: left;
	margin: 5px;
}

.modal-game {
	max-height: 600px;
	max-width: 600px;
	min-width: 380px;
	min-height: 440px;
	padding: 0;
	border: none;
	margin: 0;
}

.modal-top {
	z-idex: 5000;
}

.modal-messagebox {
	z-index: 9999;
	white-space: normal;
	word-wrap: normal;
	text-align: center;
	max-width: 200px;
}

.roomSelectionPanel {
	display: inline-block;
	white-space: nowrap;
}

.roomPanel {
	cursor: pointer;
	text-align: center;
}

.roomPanel[disabled] {
	background: linear-gradient(to bottom right, lightgray, gray);
	opacity: .98;
}

.roomPanel[disabled]:hover {
	transform: scale(1);
	cursor: not-allowed;
}

.roomPanel:hover {
	transform: scale(1.1);
}

.chipPanel, .centeredHorizontal {
	left: 50%;
	transform: translate(-50%, 0%);
}

.gameButtonPanel, .centeredVertical {
	top: 50%;
	transform: translate(0%, -50%);
}

.centered {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.button-game, .button {
	background-color: lightgray;
	margin: 0;
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
	font-size: small;
	border: none;
	border-radius: 1px;
	-moz-border-radius: 1px;
	font-size: 14px;
	color: white;
}

.button-left {
	margin-right: 5px !important;
}

.button-middle {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.button-right {
	margin-left: 5px !important;
}

.button-green {
	background-color: rgb(55, 168, 108) !important;
}

.button-red {
	background-color: rgb(165, 54, 54);
}

.button-blue {
	background-color: rgb(54, 112, 165);
}

.button-goBack {
	
}

.chipPanel {
	position: absolute;
	text-align: center;
}

.gameButtonPanel {
	position: absolute;
	white-space: normal;
	width: 122px;
	left: 10px;
	padding: 0;
}

.chipPanel {
	bottom: 15px;
}

.button-game {
	height: 30px;
	margin: 10px;
	margin-right: 0px;
	margin-left: 0px;
	box-shadow: 0px 0px 7px 0px gold;
	outline: none;
	border-radius: 3px;
}

.button-game-depressed {
	transform: rotateX(20deg);
	transform-origin: top;
}

.button-game-hit {
	background: linear-gradient(rgba(165, 54, 54, 1), rgba(165, 54, 54, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px rgba(200, 54, 54, 1), 0px
		3px 4px grey;
}

.button-game-stand {
	background: linear-gradient(rgba(55, 168, 108, 1),
		rgba(55, 168, 108, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px rgba(55, 168, 108, 1),
		0px 3px 4px grey;
}

.button-game-doubleDown {
	background: linear-gradient(rgba(54, 112, 165, 1),
		rgba(54, 112, 165, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px rgba(54, 112, 165, 1),
		0px 3px 4px grey;
}

.button-game-split {
	background: linear-gradient(rgba(198, 149, 51, 1),
		rgba(198, 149, 51, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px rgba(198, 149, 51, 1),
		0px 3px 4px grey;
}

.button-game-insurance {
	background: linear-gradient(rgba(48, 174, 186, 1),
		rgba(48, 174, 186, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px rgba(48, 174, 186, 1),
		0px 3px 4px grey;
}

.button-game-surrender {
	color: black;
	background: linear-gradient(rgba(255, 255, 255, 1),
		rgba(255, 255, 255, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px lightgrey, 0px 3px 4px
		grey;
}

.button-game-deal {
	background: linear-gradient(rgba(55, 168, 108, 1),
		rgba(168, 168, 168, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px rgba(55, 168, 108, 1),
		0px 3px 4px grey;
	border-radius: 80px;
}

.button-game-disabled {
	color: white;
	cursor: initial;
	background: linear-gradient(rgba(196, 196, 196, 1),
		rgba(196, 196, 196, .5));
	box-shadow: inset 0px 0px 0px, 0px 2px 0px 0px lightgrey, 0px 3px 4px
		grey;
}

.hand-panel {
	height: 118px;
	width: 85px;
	border-radius: 3px;
	background: radial-gradient(rgba(196, 196, 196, .5),
		rgba(196, 196, 196, .1));
	box-shadow: 0 0 7px 0 lightgrey;
	border: 3px solid gold;
	text-align: center;
	position: absolute;
}

.hand-panel-player {
	bottom: 155px;
}

.hand-panel-dealer {
	top: 20px;
}

.back-anchor {
	outline: none;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 10px;
	cursor: pointer;
	text-align: center;
	width: 50px;
	height: 50px;
	background-position-x: 11px;
}

.back-anchor-icon {
	border-radius: 50px;
	background-color: white;
	background-image: url(img/BackButton.png);
	height: 40px;
	width: 60px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	border: 3px solid black;
	background-position-x: 15px;
}

.account-anchor {
	outline: none;
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 10px;
	cursor: pointer;
	width: 100px;
	text-align: center;
}

.account-anchor-icon {
	border-radius: 50px;
	background-color: white;
	background-image: url(img/logo.png);
	height: 60px;
	width: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	border: 3px solid black;
}

.back-anchor-icon:hover, .account-anchor-icon:hover {
	transform: scale(1.1);
}

.chipcount {
	color: gold;
	font-size: 15px;
	background: black;
	color: gold;
	border-radius: 3px;
	border: 3px solid white;
}

.gameLabel {
	z-index: 100;
	color: black;
	font-size: 26pt;
	font-weight: bold;
	font-stretch: expanded;
	padding: 10px;
	position: absolute;
	border-radius: 6px;
	/*     background: rgba(255, 215, 0, 0.55); */
	box-shadow: 0 0 53px 3px black;
	line-height: 16px;
	left: 17px;
	top: 40px;
}

.gameLabel-bust {
	background-color: rgb(165, 54, 54);
}

.gameLabel-stand {
	background: rgb(55, 168, 108);
}